@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
div.container {
    max-width: 990px;
    margin: auto;
}
header {
    background-color: #212336;
    height: 100px;
}
div.header {
    display: flex;
    justify-content: space-between;

}
div.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
div.logo img {
    width: 70px;
    height: 50px;
}
div.menu {
    display: flex;
    height: 100px;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
div.menu a {
    padding: 15px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #212336;
}
div.menu a:hover {
    color: #ff4a57;
    border-bottom: 5px solid #ff4a57;
}
section.banner {
    background-color: #23263a;
    height: 100vh;
}
div.banner_area {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35%;
}
div.banner_text {
    margin-right: 220px;
}
.banner_text h1 {
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner_text p {
    color: #42465d;
    text-shadow: 1px 1px 1px #00000015;
    margin-bottom: 50px;
}
.banner_text a {
    background-color: #ff4a57;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
}
.banner_text a:hover {
    background-color: #fe8991;
}
.pointer {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #ff4a57;
    border-width: 2px;
    cursor: pointer;
}
#active {
    background-color: #ff4a57;
}
.trace {
    height: 80px;
    width: 1.5px;
    background-color: #6c7399;
    margin-left: 9px;
}
section.serviços {
    background-color: #23263a;
}
.serviços_text_title span {
    color: white;
}
.serviços_text_title h1 {
    color: #ff4a57;
    font-size: 50px;
    padding: 20px;
    padding-left: 0px;
    padding-top: 0px;
}
.serviços_trace {
    background-color: #ff4a57;
    width: 100px;
    height: 4px;
    margin-bottom: 35px;
}
.serviços_div {
    display: flex;
    justify-content: space-between;
}
.serviços_text_blocks {
    display: flex;
    flex-wrap: wrap;
}
.serviços_cards {
    background-color: #2b2d41;
    height: 164px;
    width: 220px;
    padding: 25px;
    padding-top: 50px;
    color: white;
    margin-right: 50px;
    margin-bottom: 50px;
}
.serviços_cards h3 {
    font-size: 13px;
    padding: 20px;
    padding-left: 0px;
}
div.serviços_cards img {
    width: 40px;
    height: 40px;
}
.serviços_cards p {
    font-size: 12px;
    line-height: 18px;
}
.serviços_pointers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer {
    background-color: #23263a;
    height: 650px;
}
footer h2 {
    color: #ff4a57;
    font-size: 50px;
    margin-bottom: 25px;
}
footer input {
    width: 550px;
    height: 70px;
    margin-bottom: 25px;
    padding-left: 20px;
    background-color: #282a41;
    border: none;
}
.footer_area {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 650px;
    align-items: center;
}
.formulario a {
    background-color: #ff4a57;
    padding: 20px;
    text-decoration: none;
    color: #1c1e31;;
    padding-left: 45px;
    padding-right: 45px;
    font-weight: 700;
}
.formulario a:hover {
    background-color: #fe8991;
}
form {
    margin-bottom: 25px;
}
.criador {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
.criador a {
    color: white;
    text-decoration: none;
}
.criador a:hover {
    color: #ff4a57;
}
#ativo {
    border-bottom: 5px solid #ff4a57;
}

@media (min-width:450px) and (max-width: 800px) {
    nav {
        display: none;
    }
    div.logo {
        padding-left: 20px;
    }
    section.banner {
        height: 60vh;
    }
    div.banner_pointers {
        display: flex;
        position: absolute;
        top: 187%;
        left: 25%;
    }
    div.banner_area {
        top: 25%;
        flex-direction: column;
        text-align: center;
        left: 2%;
    }
    .banner_text h1 {
        font-size: 36px;
    }
    .trace {
        display: none;
    }
    .pointer {
        margin-right: 10px;
    }
} 