@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
div.container {
    max-width: 990px;
    margin: auto;
}
header {
    background-color: #212336;
    height: 100px;
}
div.header {
    display: flex;
    justify-content: space-between;

}
div.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.logo img {
    width: 70px;
    height: 50px;
}
div.menu {
    display: flex;
    height: 100px;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
div.menu a {
    padding: 15px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
div.menu a:hover {
    color: #ff4a57;
}
section.banner {
    background-color: #23263a;
}
div.banner_area {
    display: flex;
    justify-content: space-between;
}
.banner_text h1 {
    color: ;
}



div.serviços_cards img {
    width: 50px;
    height: 50px;
}